html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f6f6;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    width: 280px;
    height: 100%;
    background-color: white;
    border-right: 1px solid gray;
}

.nav-links {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.links {
    text-decoration: none;
    color: rgb(98, 98, 244);
    border-bottom: 1px solid gray;
    padding: 10px;
}

.links:hover {
    background-color: #eee;
    font-weight: 700;
    transition: background-color 0.1s ease-in-out;
}

.main-doc {
    margin-left: 400px;
    margin-right: 20px;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 280px;
    margin-left: 70px;
}



p {
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line {
    color: red;
}

.strip {
    background-color: black;
    color: white;
}

.foot {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

@media(max-width: 500px) {
    #navbar {
        width: 100%;
        height: 250px;
        position: absolute;
        overflow: hidden;
        z-index: 2;


    }

    h1 {
        font-size: 18px;
    }

    .main-doc {
        top: 320px;
        position: relative;
        left: 0px;
    }

    .main-section {
        margin: 50px 0px;


    }
}